/*Css reset*/    
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}
/*universal selector styles*/
*{
    box-sizing:border-box;
    padding:0;
    max-width:100%;
}

/*General Styles*/
html{
    font-size: 62.5%;
}
body{
    font-size:1.9rem;
    line-height:1.5;
    color: #4f4f4f; /*accessibility*/
    font-family: 'Roboto Mono', monospace;
    
    
}
section{
    padding:4% 0;
}
a{
    text-decoration:none;
    font-family: 'Roboto Mono', monospace;
}
h1{
    font-family: 'Chelsea Market', cursive;
    font-size:5rem;
    padding:5%;
}



/*Header Section Styles*/
nav{
    padding:2% 0;

}
nav a{
    display:inline-block;
    padding:1% 0;
    width:10%;
    border-radius: 10px;
    text-align: center;
    color:#fff;
    transition:2s;
}
.orange{
    background-color: #FF764E;
    margin-left:10%;
}
.orange:hover{
    color: black;
}
.blue{
    background-color:#5ED3EB;
    margin:0 24%;
}
.blue:hover{
    color: black;
}
.yellow{
    background-color:#FFCD69;
    margin-right:10%;
}
.yellow:hover{
    color:black;
}

/*top section styles*/
.top{
    position:relative;
}
.left, .right{
    text-align:center;
    display:inline-block;
}
.left{
    width:35%
}
.left img{
    width:80%;
    border-radius:50%; 
}
.right{
    width:60%;
    position:absolute;
    top:25%;
    
}

.right p{
    padding: 3%;
    margin:auto;
    

}
/*main section styles*/
.main p{
    color:#fff;
    text-align: center;
    background-color:#DDB9A3;
    width:90%;
    margin: 0 auto;
    padding: 2%;
}
/*middle section styles*/
.middle{
    position:relative;
}

.fire, .bus{
    padding: 1%;
    text-align:center;
    
}   

.middle img{
    
    width:10%;
    resize:auto;
    overflow: auto;
    
}

.fire p{
    
    text-align:center;
    padding:1%;
    margin:auto;
}
.bus p{
    padding:1%;
    margin:auto;
}

/*footer section styles*/

.footer{
    background-color: #F9E7DC;
}

.mnts{
    height: 400px;
    width: 100%;
    background-image:url(assets/footer_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}














